/* Hide purple line initially using clip-path */
.line-purple {
  clip-path: inset(0 0 100% 0);
  /* hide from bottom */
}

.timeline-dot {
  top: 0;
}

/* Custom styles for specific circular charts */
.donut-chart {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut-inner {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: #3b1e54;
}

.card {
  background-color: #ffffff;
  padding: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-width: 4px;
  border-top-color: #e5e7eb66;
  border-radius: 1rem;
  text-align: center;
  width: 100%;
  max-width: 330px;
  box-shadow: 0 25px 50px -12px #00000040;
}

/* LG breakpoint padding (lg:px-14 → 56px left/right) */
@media (min-width: 1024px) {
  .card {
    padding-left: 3.5rem;
    /* 56px */
    padding-right: 3.5rem;
  }
}

.xxl {
  max-width: 1152px;
}

@media (min-width: 1480px) {
  .xxl {
    max-width: 1352px;
  }
}

.card-header {
  color: #4c1d95;
  /* text-purple-900 */
  font-size: 24px;
  /* text-[24px] */
  font-weight: 700;
  /* font-bold */
  margin-bottom: 0.5rem;
  /* mb-2 (8px) */
}

.text-color {
  color: skyblue;
}

/* Hide scrollbar for cleaner preview */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.base-line {
  stroke: rgb(129, 129, 129);
  stroke-width: 2px;
}

.line-running {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: line-animation 5s linear forwards;
  animation-timeline: scroll();
  stroke: #4c1d95;
  stroke-width: 3;

}

.line-circle {
  transform-box: fill-box;
  offset-anchor: 50% 50%;
  fill: #4c1d95;
  /* 	offset-path: url('#line-base'); */
  animation: move 5s forwards linear;
  animation-timeline: scroll();
}



@keyframes move {
  to {
    offset-distance: 100%;
  }
}

@keyframes line-animation {
  from {
    stroke-dashoffset: 1;
  }

  to {
    stroke-dashoffset: 0;
  }
}